h3 {
    font-family: 'Dancing Script', cursive;
}

p{
    font-family: 'Dancing Script', cursive;
}

.catalogo{
    display:grid;
    grid-template-columns: repeat(5 , auto);
    grid-template-rows: repeat(5 , auto);
    justify-content: center;  
}
